.menu{
    width: 100%;
    background-color: #ff6400;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 0 9px #171717;
    transition: .7s;
}

.menu-display{
    width: 100%;
    display: block;
    align-items: center;
    padding: 0;
}

.menu-logo{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
}
.menu-logo>a{
    margin: 0 auto 0 10px;
    padding: 15px 0;
}
.menu-logo>a>svg{
    fill: #292929;
    width: 64px;
}
.menu-logo>svg{
    fill: #292929;
    width: 48px;
    margin-right: 15px;
}

.menu-view{
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-btn{
    font-weight: bolder;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.menu-btn>ul{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-btn>ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-btn>ul>li>a{
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: #292929;
    box-sizing: border-box;
    transition: .5s;
    display: block;
}
.menu-btn>ul>li>a:hover{
    cursor: pointer;   
}

.login-btn{
    padding: 10px;
}
.login-btn>a{
    display: block;
    width: 100%;
    background-color: #ff6400;
    border: 2px solid #292929;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px 25px;
    text-align: none;
    color:#292929;
    transition: .5s;
}
.login-btn>a:hover{
    background-color: #292929;
    color: #ff6400;
    text-decoration: none;
}


/* ========== Tablet (>= 768px) ========== */
@media (min-width: 768px) {
.menu-btn>ul>li>a{
    display: block;
    padding: 15px;
}
.menu-btn>ul>li>a:hover{
    background-color: #cc5200;
}
  }
  
/* ========== Desktop (>= 1025px) ========== */
@media (min-width: 1025px) {
.menu{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-display{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.menu-logo{
    width: auto;
    margin: 0 auto 0 0;
}
.menu-logo>svg{
    display: none;
}
.menu-view{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.menu-btn{
    margin: 0 20px 0 auto;
    display: flex;
    align-items: center;
}
.menu-btn>ul{
    display: flex;
    align-items: center;
}
.menu-btn>ul>li>a{
    display: block;
    padding: 20px;
}
}