.menu{
    width: 100%;
    background-color: var(--main1);
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 0 9px var(--subc3);
    transition: .7s;
    margin-bottom: 50px;
}

.menu-display{
    width: 100%;
    display: block;
    align-items: center;
    padding: 0;
}

.menu-logo{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
}
.menu-logo>a{
    margin: 0 auto 0 0;
    padding: 15px;
    display: flex;
    align-items: center;
}
.menu-logo>button{
    background-color: transparent;
    outline: none;
    padding: 10px 15px;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none; /* Para navegadores baseados em Webkit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer */
    user-select: none;         /* Padrão */
    -webkit-tap-highlight-color: transparent; /* Remover o efeito de highlight no Android */
    touch-action: manipulation;
}
.menu-logo>button:hover{
    cursor: pointer;
}

.menu-logo>button>span{
    font-size: 48px;
    color: var(--subc1);
    margin: 0;
    box-sizing: border-box;
}


.menu-logo>a>svg{
    fill: var(--subc1);
    width: 64px;
}

.menu-view{
    display: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

#menu-view.active{
    width: 100%;
    background-color: var(--main1);
    display: block;
    box-sizing: border-box;
}
.menu-btn{
    font-weight: bolder;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.menu-btn>ul{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-btn>ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-btn>ul>li>a{
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: var(--subc1);
    box-sizing: border-box;
    transition: .5s;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none; /* Para navegadores baseados em Webkit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer */
    user-select: none;         /* Padrão */
    -webkit-tap-highlight-color: transparent; /* Remover o efeito de highlight no Android */
    touch-action: manipulation;
}
.menu-btn>ul>li>a:hover{
    cursor: pointer;
    background-color: transparent;
}

.login-btn{
    padding: 10px;
}
.login-btn>a{
    display: block;
    width: 100%;
    background-color: var(--main1);
    border: 2px solid var(--subc1);
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px 25px;
    text-align: none;
    color:var(--subc1);
    transition: .5s;
}
.login-btn>a:hover{
    background-color: var(--subc1);
    color: var(--main1);
    text-decoration: none;
    cursor: pointer;
}

.search-bar{
    max-width: 100%;
    min-width: 500px;
    background-color: transparent;
    display: None;
    align-items: center;
    transition: 1s;
    margin: 0 auto;
    padding: 15px;
}

#search-view.active{
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.search-bar>form{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--subc1);
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    box-sizing: border-box;
}
.search-bar>form>input{
    width: 100%;
    border: 0;
    background-color: var(--subc1);
    outline: none;
    color: var(--main1);
    box-sizing: border-box;
    padding: 10px;
    font-weight: bolder;
}
.search-bar>form>button{
    background-color: var(--subc1);
    color: var(--main1);
    transition: .5s;
    padding: 10px 20px;
    border:0;
    display: flex;
    align-items: center;
}
.search-bar>form>button>span{
    transition: .5s;
}
.search-bar>form>button>span:hover{
    transform: translateY(-2px);
}
.search-bar>form>input:focus{
    background-color: var(--subc1);
}
.search-bar>form>input:-webkit-autofill,
.search-bar>form>input:-webkit-autofill:hover,
.search-bar>form>input:-webkit-autofill:focus,
.search-bar>form>input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px var(--subc1) inset !important; /* força o fundo */
  -webkit-text-fill-color: var(--main1) !important;         /* força a cor do texto */
  font-family: inherit !important;                     /* mantém a fonte */
  transition: background-color 9999s ease-in-out 0s !important; /* retarda transição interna */
}


/* ========== Tablet (>= 768px) ========== */
@media (min-width: 600px) and (max-width: 1024px) {
.menu-btn>ul>li>a{
    display: block;
    padding: 15px;
}
.search-bar{
    min-width: 500px;
    margin: 0 auto;
}
#menu-view.active{
    width: 100%;
    background-color: var(--main1);
    display: block;
    box-sizing: border-box;
}
#search-view.active{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
  }
  
/* ========== Desktop (>= 1025px) ========== */
@media (min-width: 1025px) {
    .menu{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .menu-display{
        max-width: 1200px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .menu-logo{
        width: auto;
        margin: 0 auto 0 0;
    }
    .menu-logo>button{
        display: none;
    }
    .menu-view{
        max-width: 100%;
        display: flex;
        margin: 0;
    }
    .menu-btn{
        margin: 0 20px 0 auto;
        display: flex;
        align-items: center;
    }
    .menu-btn>ul{
        display: flex;
        align-items: center;
    }
    .menu-btn>ul>li>a{
        display: block;
        padding: 20px;
    }
    .search-bar{
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }
    #seach-view.active{
        position: static;
        margin: 0 auto;
    }
    #menu-view.active{
        max-width: 100%;
        position: static;
        display: flex;
        align-items: center;
    }
}