body {
    background-color: var(--subc1);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.display{
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
    transition: 1s;
}

.slider-title {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left:10px;
}

.slider-title h2 {
    color: var(--extr1); /* Cor do texto */
    margin: 0;
}

.slider-itens {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
    overflow-x: auto; /* Mantém a barra de rolagem visível */
    transition: 1s;
}

.slider-itens::-webkit-scrollbar {
    height: 5px; /* Ajusta o tamanho da barra de rolagem para desktop */
    border-radius: 10px;
    background-color: var(--subc3);
}

.slider-itens::-webkit-scrollbar-thumb {
    background-color: var(--main2); /* Cor mais escura da barra de rolagem */
    border-radius: 10px;
}

.slider-itens a{
    text-decoration: none;
}

.item {
    width: 200px;
    background-color: var(--subc2);
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 9px var(--subc3); /* Sombra */
    scroll-snap-align: start;
    margin-right: 15px;
    transition: .2s;
}
.item:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.item img {
    height: 300px; /* Altura fixa para todas as imagens */
    width: auto; /* A largura será ajustada automaticamente para manter a proporção */
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0; /* Bordas arredondadas na parte superior */
    object-fit: cover; /* A imagem será contida dentro do espaço, sem distorcer */
}


.item h3 {
    margin-top: 0px;
    color: var(--extr1); /* Cor do texto */
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding: 0 5px;
}

/* Estilo dos botões de navegação se necessário (não usados no momento) */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--extr1);
    font-size: 2rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

/*-------------MANGA GRID------------------------*/

.manga-grid {
    width: 100%;
    min-height: 80vh;
    max-width: 1200px;
    margin: 20px auto;
}

.grid-title {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.grid-title h2 {
    color: var(--extr1); /* Cor do texto */
    margin: 0;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta as colunas com base no tamanho */
    gap: 15px;
    margin: 0 10px;
}

.grid-item {
    background-color: var(--subc2); /* Cor principal */
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px; /* Bordas arredondadas para cada item */
    box-shadow: 0 0 9px var(--subc3); /* Sombra */
}

.grid-item img {
    height: 300px; /* Altura fixa para todas as imagens */
    width: auto; /* A largura será ajustada automaticamente para manter a proporção */
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.grid-item h3 {
    margin-top: 10px;
    color: var(--extr1); /* Cor do texto */
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding: 0 5px;
}

/* Personalização da barra de rolagem */
.grid-items::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
}

.grid-items::-webkit-scrollbar-thumb {
    background-color: var(--main1); /* Cor da barra de rolagem */
    border-radius: 10px;
}

.grid-items::-webkit-scrollbar-track {
    background-color: var(--subc1); /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
}


.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color:var(--extr1);
}

.paginator a {
    padding: 10px 20px;
    background-color: var(--main1);
    border: none;
    color: var(--extr1);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s;
}

.paginator button:hover {
    background-color: var(--main2);
}



/*------------------------------------*/

.manga-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho do manga - Mobile-First */
.manga-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    align-items: center; /* Centraliza o conteúdo */
}

.manga-header img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 5px;
}

.manga-info {
    width: 100%;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo */
}

.manga-info h1 {
    font-size: 1.5em;
    color: var(--subc1);
    margin-bottom: 10px;
    color:var(--main1);
}

.synopsis {
    font-size: 1em;
    color: var(--extr1);
    margin: 10px 0;
    text-align: justify;
    word-wrap: break-word;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    list-style: none;
    padding: 0;
    color: var(--extr2);
    text-align: left;
}

.details li {
    font-size: 1em;
    color:var(--extr1);
}
.details li strong{
    margin-right: 5px;
}

.genre-box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.genre{
    padding:3px 5px;
    margin: 5px 2px;
    border:0;
    border-radius:5px;
    background-color: var(--main1);
    color: var(--subc1);
    text-decoration: none;
    transition: .5s;
    font-weight: bolder;
}
.genre:hover{
    cursor: pointer;
    background-color: var(--main2);
    text-decoration: none;
}

/* Capítulos */
/* Capítulos - Nova estilização */
.chapter-menu{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main1);
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.chapter-menu>h2 {
    font-size: 1.6em;
    color: var(--extr1);
    font-weight: bold;
    margin: 0 auto 0 0;
}
.chapter-menu>button{
    background-color: transparent;
    outline: none;
    margin-right: 10px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none; /* Para navegadores baseados em Webkit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer */
    user-select: none;         /* Padrão */
    -webkit-tap-highlight-color: transparent; /* Remover o efeito de highlight no Android */
    touch-action: manipulation;
}

.chapter-menu>button>span{
    color: var(--main1);
    transition: .5s;
}

.chapter-list ul {
    list-style: none;
    padding: 0;
}
.chapter-list ul a {
    text-decoration: none;
}

.chapter-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: var(--main1);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.chapter-list li:hover {
    background-color: var(--main2);
    cursor: pointer;
}

.chapter-list li p {
    text-decoration: none;
    color: var(--subc1);
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 auto 0 20px;
}

/* Ajuste de espaçamento e estilo da lista */
.chapter-list li span {
    font-size: 0.9em;
    color: var(--extr1);
    padding: 3px 8px;
    border-radius: 5px;

}

 /* Estilo de capítulos lidos */
 .chapter-list li.read {
    background-color: var(--extr2); /* Cor mais suave para capítulos lidos */
    opacity: 0.7; /* Reduz a opacidade para indicar que foi lido */
}

.chapter-list li.read a {
    color: var(--extr3); /* Cor mais suave para links de capítulos lidos */
    text-decoration: line-through; /* Riscado para indicar lido */
}


/*-------------------READER------------------------------------*/

.reader{
    width: 100%;
    margin-top:20px;
}

.reader-top{
    width: 100%;
}
.reader-top>a{
    text-decoration: none;
}
.reader-top>a:hover{
    text-decoration: none;
}

.reader-top>a>h2{
    color: var(--extr1);
    padding: 5px 10px;
    margin: 0;
}

.reader-top-cap{
    background-color: var(--main1);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.reader-top-cap>h3{
    width: auto;
    padding: 0 10px;
    margin: 0;
    text-overflow: ellipsis;
    margin: 0 auto 0 0;
}
.read-mode{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.read-mode>p{
    color: var(--extr1);
    background-color: transparent;
    font-weight: bolder;
    margin: 0px 4px;
}
.top-read{
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--subc1);
    border: 0;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
    padding: 2px;
    -webkit-user-select: none; /* Para navegadores baseados em Webkit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer */
    user-select: none;         /* Padrão */
    -webkit-tap-highlight-color: transparent; /* Remover o efeito de highlight no Android */
    touch-action: manipulation; /* Prevenir a seleção de texto ao interagir */
  }

.top-read:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--main2);
    transition: 0.3s;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
}
.top-read:focus{
    outline: none;
}

.top-read.active:before {
    transform: translateY(-50%) translateX(25px);
  }

.top-read:checked:before {
    transform: translateY(-50%) translateX(25px);
  }



.reader-display{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.reader-display>img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.page-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.page-content #changeprev, 
.page-content #changenext {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#changeprev {
    top: 0;
    left: 0;
}

#changenext {
    top: 0;
    right: 0;
}

.reader-bottom{
    width: 100%;
    background-color: var(--main1);
    display: flex;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.reader-bottom>h5{
    margin: 0 auto 0 10px;
    color: var(--subc1);
}

.reader-bottom>a{
    background-color: var(--main1);
    margin-left: 5px;
    margin-right: 10px;
    padding: 15px;
    outline: none;
    text-decoration: none;
    color:var(--subc1);
}
.reader-bottom>a:hover{
    background-color: var(--main2);
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.footer-box{
    width: 100%;
    margin-top: 50px;
    padding: 50px 20px;
    background-color: var(--main1);
    display: flex;
    align-items: center;
    position: static;
}
.footer-box>p{
    color:var(--subc1);
    margin: 0;
}


#btnTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    background-color: var(--main1);
    color: var(--subc1);
    border: none;
    outline: none;
    padding: 15px;
    margin:0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s ease;
    display: none;
    align-items: center;
}
#btmTop>span{
    margin:0;
}

#btnTop:hover {
    background-color: var(--main2);
    transform: scale(1.1);
}


/*-------------------------------DESKTOP------------------------*/
 /* Media Queries para Tablets */
 @media (min-width: 600px) and (max-width: 1024px) {
    .slider {
        max-width: 800px; /* Ajusta a largura para tablet */
        padding: 5px;
    }

    .item {
        min-width: 200px; /* Aumenta o tamanho dos itens em tablets */
    }


    .slider-itens {
        padding: 15px 0;
    }
    .manga-grid {
        max-width: 800px; /* Ajusta a largura para tablet */
    }

    .grid-items {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta o tamanho dos itens em tablets */
    }

    .manga-header {

        flex-direction: row; /* Coloca imagem e texto lado a lado */
        justify-content: flex-start;
        align-items: center;
    }

    .manga-header img {
        width: 220px; /* Ajusta a largura da capa para tablet */
        height: 330px; /* Ajusta a altura da capa para tablet */
        margin-right: 20px;
        margin-bottom: 0;
        object-fit: cover; /* Garante que a imagem não distorça */
    }

    .manga-info {
        text-align: left;
    }

    .manga-info h1 {
        font-size: 1.6em;
    }

    .synopsis {
        font-size: 1em;
    }

    .details li {
        font-size: 1em;
    }

    .genre-box{
        justify-content: left;
    }
}

/* Media Queries para Desktop */
@media (min-width: 1025px) {
    .slider {
        max-width: 1200px; /* Ajusta a largura para desktop */
        padding: 5px;
    }


    .slider-itens{
        padding: 20px 0;
    }

    .item {
        min-width: 200px; /* Aumenta o tamanho dos itens em desktops */
    }


    .manga-grid {
        max-width: 1200px; /* Ajusta a largura para desktop */
    }

    .grid-items {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta o tamanho dos itens em desktops */
    }


    .manga-header {
        flex-direction: row; /* Mantém a disposição em linha */
        justify-content: flex-start;
        align-items: center;
    }

    .manga-header img {
        width: 350px; /* Ajusta a largura da capa para desktop */
        height: 400px; /* Ajusta a altura da capa para desktop */
        margin-right: 30px;
        object-fit: cover; /* Garante que a imagem não distorça */
    }

    .manga-info {
        text-align: left;
    }

    .manga-info h1 {
        font-size: 1.5em;
    }

    .synopsis {
        font-size: 1em;
    }

    .details li {
        font-size: 1em;
    }

    .reader{
        max-width: 1200px;
        margin: 0 auto;
    }
    .reader-display>img{
        max-width: 100%;
    }
    .genre-box{
        justify-content: left;
    }
}