<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
<body>
    
    {% include 'menu.html' %}


    <section class="reader">

        <div class="reader-top">
            <h2>Mangá Name</h2>
            <div class="reader-top-cap">
                <h3>Capitulo</h3>
            </div>
        </div>
        <div class="reader-display">
            <img src="../../../5358c6e6-4c55-46d0-a83b-ac965a45bb2c.jpeg">
            <img src="../../../5358c6e6-4c55-46d0-a83b-ac965a45bb2c.jpeg">
            <img src="../../../5358c6e6-4c55-46d0-a83b-ac965a45bb2c.jpeg">
        </div>
        <div class="reader-bottom">
            <h3><span>10</span>/<span>10</span></h3>
            <div class="reader-btn">
                <button><i class="fas fa-chevron-left"></i></button>
                <button><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>

    </section>

</body>
</html>