<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
<body>
    
    {% include 'menu.html' %}


    <section class="reader">

        <div class="reader-top">
            <a href="/manga/{{ data.manga_id }}"><h2>{{ data.manga }}</h2></a>
            <div class="reader-top-cap">
                <h3>Capitulo {{ data.cap }}</h3>
                <div class="read-mode">
                    <p>Page</p>
                    <input type="checkbox" class="top-read" id="scrollToggle">
                    <p>Scroll</p>
                </div>
            </div>
        </div>
        <div class="page-content">
            <a id="changeprev"></a>
            <div id="leitor" class="reader-display">
            </div>
            <a id="changenext"></a>
        </div>
        <div class="reader-bottom">
            <h5>Fonte original: MangaDex</h5>
            {% if data.caps > data.index %}
            <a href="/cap/{{ data.prev }}"><i class="fas fa-chevron-left"></i></a>
            {% endif %}

            {% if data.index > 0 %}
            <a href="/cap/{{ data.next }}"><i class="fas fa-chevron-right"></i></a>
            {% endif %}

        </div>
        <script>
            var cap = '{{data.id}}';
            var pages = JSON.parse('{{ data.pages | tojson }}');
        </script>
        <script src="{{ url_for('static', filename='js/reader.js') }}"></script>
    </section>
    {% include 'footer.html' %}
</body>
</html>