<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
<body>

    {% include 'menu.html' %}


    <section class="slider">

        <div class="slider-title">
            <h2>Recomendados</h2>
        </div>

        <div class="slider-itens">

            <a>
            <div class="item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>

        </div>

    </section>

    <section class="slider">

        <div class="slider-title">
            <h2>Recomendados</h2>
        </div>

        <div class="slider-itens">

            <a>
            <div class="item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>






        </div>

    </section>


    <section class="slider">

        <div class="slider-title">
            <h2>Recomendados</h2>
        </div>

        <div class="slider-itens">

            <a>
            <div class="item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>






        </div>

    </section>



    <section class="slider">

        <div class="slider-title">
            <h2>Recomendados</h2>
        </div>

        <div class="slider-itens">

            <a>
            <div class="item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
            </a>

            <a>
                <div class="item">
                    <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                    <h3>Algum mangá ai</h3>
                </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>
    
                <a>
                    <div class="item">
                        <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="algum mangá ai">
                        <h3>Algum mangá ai</h3>
                    </div>
                </a>






        </div>

    </section>



</body>
</html>