<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
<body>

    {% include 'menu.html' %}

    <div class="display">

    {% if current_user.is_authenticated %}
        {% for j in user_data.keys() %}
            {% if user_data[j]|length > 0 %}
            <section class="slider">

                <div class="slider-title">
                    <h2>{{ j }}</h2>
                </div>

                <div class="slider-itens">

                        {% for i in user_data[j] %}
                        <a href="/manga/{{ i.id }}#{{ i.chapter }}">
                        <div class="item">
                            <img src="{{ url_for('static', filename='img/page.png') }}" data-src="/img/cover/{{ i.id }}?size=256" alt="{{ i.title }}">
                            <h3> {{ i.title }} </h3>
                        </div>
                        </a>
                        {% endfor %}
                    


                </div>

            </section>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% for j in data.keys() %}
    <section class="slider">

        <div class="slider-title">
            <h2>{{ j }}</h2>
        </div>

        <div class="slider-itens">

                {% for i in data[j] %}
                <a href="/manga/{{ i.id }}">
                <div class="item">
                    <img src="{{ url_for('static', filename='img/page.png') }}" data-src="/img/cover/{{ i.id }}?size=256" alt="{{ i.title }}">
                    <h3> {{ i.title }} </h3>
                </div>
                </a>
                {% endfor %}
            


        </div>

    </section>
    {% endfor %}

    </div>

    {% include 'footer.html' %}
</body>
</html>