<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/format.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/page.css">
    <title>Document</title>
</head>
<body>
    
    {% include 'menu.html' %}


    <section class="manga-grid">
        <div class="grid-title">
            <h2>Recomendados</h2>
        </div>
    
        <div class="grid-items">
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai muito longo para o título aqui</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai maior">
                <h3>Algum mangá ai maior</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
    
            <div class="grid-item">
                <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Algum mangá ai">
                <h3>Algum mangá ai</h3>
            </div>
        </div>


        <div class="paginator">
            <button class="prev" id="prevBtn">Anterior</button>
            <span id="pageNumber">Página 1</span>
            <button class="next" id="nextBtn">Próximo</button>
        </div>
    
    </section>



</body>
</html>