<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/format.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/page.css">
    <title>Document</title>
</head>
<body>

    {% include 'menu.html' %}


    <section class="manga-page">
        <div class="manga-header">
            <img src="https://mangadex.org/covers/a6ccbfd7-4f32-4566-9e56-187189984a61/0a3eebc0-54ff-49d5-b3f4-0dbbcdfea0dc.jpg.512.jpg" alt="Capa do Mangá">
            <div class="manga-info">
                <h1>Título do Mangá</h1>
                <p class="synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, a? Error ipsa totam ullam a delectus dignissimos illo quis voluptatum. Odit a ipsam incidunt voluptatum earum recusandae enim, dolor nobis.</p>
                <ul class="details">
                    <li><strong>Autor:</strong> Nome do Autor</li>
                    <li><strong>Gêneros:</strong> Ação, Aventura</li>
                    <li><strong>Status:</strong> Em andamento</li>
                    <li><strong>Capítulos:</strong> 120</li>
                    <li><strong>Idioma Original:</strong> Japonês</li>
                </ul>
            </div>
        </div>
        <div class="chapter-list">
            <h2>Capítulos</h2>
            <ul>
                <li class="read"><a href="#">Capítulo 1: Início da Jornada</a> <span class="badge">Lido</span></li>
                <li><a href="#">Capítulo 2: O Encontro</a></li>
                <li><a href="#">Capítulo 3: A Batalha</a></li>
                <li class="read"><a href="#">Capítulo 4: O Mistério Revelado</a> <span class="badge">Lido</span></li>
                <!-- Mais capítulos -->
            </ul>
        </div>
    </section>




</body>
</html>