<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
<body>

    {% include 'menu.html' %}


    {% include 'search.html' %}
    
    <section class="manga-page">
        <div class="manga-header">
            <img data-src="/img/cover/{{ data.id }}" alt="Capa do Mangá" loading="lazy">
            <div class="manga-info">
                <h1>{{ data.title }}</h1>
                <div class="genre-box">
                    {% for i in data.tags %}
                    <a class="genre">{{ i }}</a>
                    {% endfor %}
                </div>
                <p class="synopsis">{{ data.sinopse }}</p>
                <ul class="details">
                    <li><strong>Autor:</strong>{{ data.autor }}</li>

                    <li><strong>Status:</strong>{{ data.status }}</li>
                    <li><strong>Capítulos:</strong>{{ data.caps }}</li>
                    <li><strong>Ano:</strong>{{ data.ano }}</li>
                </ul>
            </div>
        </div>
        <div class="chapter-list">
            <div class="chapter-menu">
                <h2>Capítulos</h2>
                {% if current_user.is_authenticated %}
                <button class="save-btn" id="favorite-btn">
                    {% if data.is_favorite %}
                        <i class="fa-regular fa-star"></i>
                    {% else %}
                        <i class="fa-solid fa-star"></i>
                    {% endif %}
                </button>
                {% endif %}
                <button class="filter-btn" id="chapter-filter">
                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                </button>
                
            </div>
            <ul>
                {% for i in data.chapters %}
                <a href="/cap/{{ i.cap_id }}">
                    <li id="{{ i.cap_id }}" class="{% if i.is_readed %}read{% endif %}">
                        <p>Capítulo {{ i.cap }}</p>
                        {% if i.is_readed %}
                            <span class="user-state">Lido</span>
                        {% endif %}
                    </li>
                </a>
                {% endfor %}
            </ul>

        </div>
        <script>
            var manga_id = '{{ data.id }}';
        </script>
    </section>



    {% include 'footer.html' %}
</body>
</html>